<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body style="background-image: url('../static/img/main_bg-01.png');">
        <a href="\filter"><img src="../static/img/elem1-01.png" width="100%" style="margin-top: 90px;"></a>
        <a href="\restaurant2"><img src="../static/img/elem2-01.png" width="100%"></a>
        <a href="\crowdsource"><img src="../static/img/elem3-01.png" width="100%" style="margin-top: 20px;"></a>
    </body>
</html>