<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    </head>
    <body style="background-image: url(img/New3-01.png);">
        <div style="background-color: #a31818; margin-top: 25px; margin-left: 110px; margin-right: 110px;">
            <p style="font-size: 20px; padding: 5px; width: auto; color: white;">maybe later</p>
        </div>
        <div style="padding-top: 65px;">
            <h1 style="color: white;" class="big_p">Personalize</h1>
        </div>
        <br>
        <div style="color: white; text-align: left; margin-left: 70px;">
            <form>
                <p class="perans" style="text-align: left;">Allergies</p>
                <input type="checkbox" id="Dairy product" name="allergy" value="Dairy product">
                <label for="Dairy product">Dairy product</label> <br>
                <input type="checkbox" id="Eggs" name="allergy" value="Eggs">
                <label for="Eggs">Eggs</label> <br>
                <input type="checkbox" id="Soy" name="allergy" value="Soy">
                <label for="Soy">Soy</label> <br>
                <input type="checkbox" id="Peanut" name="allergy" value="Peanut">
                <label for="Peanut">Peanut</label> <br>
                <input type="checkbox" id="Wheat" name="allergy" value="Wheat">
                <label for="Wheat">Wheat</label> <br>
                <input type="checkbox" id="Shrimp" name="allergy" value="Shrimp">
                <label for="Shrimp">Shrimp</label> <br>
                <input type="checkbox" id="Fish" name="allergy" value="Fish">
                <label for="Fish">Fish</label>

                <p class="perans" style="text-align: left;">Don't eat</p>
                <input type="checkbox" id="Pork" name="types" value="Pork">
                <label for="Pork">Pork</label> <br>
                <input type="checkbox" id="Beef" name="types" value="Beef">
                <label for="Beef">Beef</label> <br>
                <input type="checkbox" id="Seafood" name="types" value="Seafood">
                <label for="Seafood">Seafood</label> <br>

                <br>

                <input class="submit" type="submit" value="Submit">
            </form>
        </div>
    </body>
</html>